.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: cadetblue;
    font-weight: normal;
    cursor: pointer;
}

.mat-raised-button{
    background-color: cadetblue;
    color: antiquewhite;
    font-weight: lighter;
}

.card {
    padding: 30px;
    /* margin: 50px; */
    transition: 0.3s ease-in-out;
}

.card img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    /* transition: 0.3s ease-in-out; */
}

/* .card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
} */
.container{
    background-color: rgb(243, 243, 243)
}

.card:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

strong{
    font-size: small;
}

span{
    font-size: x-large;
    color: antiquewhite;
    background-color: cadetblue;
}
.mat-card img{
    height: 65px;
    width: 75px;
}

.example-card{
    max-width: 50px;
}

